@font-face {
	font-family: Fontawesome;
	font-display: swap;
	src: url("../fonts/Fontawesome-webfont.woff2") format("woff2"), url("../fonts/Fontawesome-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: JuraDemiBold;
	font-display: swap;
	src: url("../fonts/JuraDemiBold.woff2") format("woff2"), url("../fonts/JuraDemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MyriadProRegular;
	font-display: swap;
	src: url("../fonts/MyriadProRegular.woff2") format("woff2"), url("../fonts/MyriadProRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansBold;
	font-display: swap;
	src: url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansRegular;
	font-display: swap;
	src: url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
